{% extends "base.html" %}
{% block content %}
    <div id="history" class="row row-content">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-body">
                    Hello!
                </div>
                <div class="panel-footer">
                    <p>* I am Amr Anwar -- a student at computer system department in faculty of Engineering Mansoura
                        university,Interested in all the areas of programming especiallly web backend development</p>
                    <p>* this is a simple social media website by (Django)</p>
                    <p>
                        * Apart from technology, I like reading japanese light Novels and Manga.
                    </p>
                    <p>
                      <a href="https://github.com/AmrAnwar/simple-SocialMedia"> <strong >* Project in Github</strong></a>
                    </p>

                </div>
            </div>
            <strong>
                            <p><em>Want to work together? </em> <a href="mailto:amranwar945@gmail.com"> I’d love to hear from you. </a>
            </p>
                <p> Accounts:
                    <a href="https://www.facebook.com/amranwar945">
                      My Facebook
                    </a>
                    ,
                    <a href="https://github.com/AmrAnwar">
                        Github
                    </a>
                </p>
            </strong>

        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <p>
                <img src="https://avatars0.githubusercontent.com/u/25433336?v=3&u=857104c7bac9c06a3b4ab156c72a3a19a381b6e6&s=400"
                     class="img-thumbnail" width="255"/>

            </p>
        </div>

    </div>
{% endblock %}