{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
    {{ profile.slug }}|{{ block.super }}
{% endblock %}
{% block content %}
    <div>
        <h1>{{ profile.user.username}} Profile
        {% include "items/follow_button.html" %}
        </h1>
    </div>
    <div>
    {% if request.user == profile.user %}
        <div class="row">
        <div class="col-sm-9">
            <form method="POST" action=".">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-primary" value="Post">
         </form>
        </div>
        <div class="col-sm-3"></div>
        </div>
    {% endif %}

    {% include "items/comments.html" %}

    <!-- old way -->
    <!--
        {% for comment in comments %}
                <blockquote class="blockquote">
                    <p>{{ comment.content }}</p>

                    <p>
                        <a href="{{ comment.get_like_url }}">
                            {% if request.user in comment.get_like_instances %}
                            <span class="glyphicon glyphicon-heart" style="color: #993333"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-heart" style="color: darkgray"></span>
                            {% endif %}
                        </a>
                        {{ comment.likes.count }}
                    </p>
                    <footer>{{ comment.user }} | {{ comment.timestamp|timesince }} ago
                        |
                        <a href="#" class="comment-reply-btn">Replay</a>
                        |
                        {% if comment.children.count > 0 %}
                          {{ comment.children.count }} Comments
                        {% endif %}
                    </footer>
                    <div class="comment-reply" style="display: none">
                        <blockquote class="blockquote">

                            {% for replay in comment.children %}
                                <p>{{ replay.content }}</p>

                                <footer>{{ replay.user }} | {{ replay.timestamp|timesince }} ago</footer>
                            {% endfor %}
                        </blockquote>

                    <form method="POST" action=".">{% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="submit" class="btn btn-default" value="Reply">
                    </form>

                    </div>

                </blockquote>
    {% endfor %}
    -->
    </div>
{% endblock %}