{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if comments %}
        <div class="row">
            <div class="alert alert-info col-sm-9 col-sm-offset-1">
                <h4>your Followers Posts : </h4>
            </div>
        </div>


        {% include "items/comments.html" %}
        <div class="row">

        <div class="col-sm-offset-1">
    {% elif not request.user.is_authenticated %}
        <div class="alert alert-danger col-sm-11">
            <h4>YOU SHOULD <strong>
                <a href="{% url "login" %}"> Sign In</a> or
                <a href="{% url "register" %}">Sing Up</a>
            </strong>First to see your account</h4>
        </div>
        <div class="alert alert-info col-sm-11">
            <h4>After that, You Can meet People like : </h4>
        </div>
    {% else %}

        <div class="alert alert-warning col-sm-10 ">
            <h4><strong>Warning!</strong> you've no followers</h4>
        </div>
    {% endif %}
{% if request.user.is_authenticated %}
    <div class="alert alert-success col-sm-10 ">
        <h4><strong>People</strong> interest in things like you,<strong>Click View </strong>to see their Posts, if empty(see all users) </h4>
    </div>
{% endif %}

{% include "items/profiles.html" %}
</div>


</div>


{% endblock %}